* {
    box-sizing: border-box;
}
.container {
    background: black;
    border-radius: 10px;
    width: 70%;
    margin: auto;
}
.results {
    color: white;
    border: 0;
    font-size: 2rem;
    text-align: right;
    width: 100%; 
    padding: 1rem 1.2rem;   
}
.buttonContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 1px;
}
.button {
    color: black;
    background: #E0DFE0;
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem 1.2rem;
}
.span-2{
    grid-column: span 2;
}
.function{
    background: orange;
    color: white;
}